body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}